<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Pomodebtor helps you manage the Pomodoro sessions so you do not lose track of how much you have to study. If you have a new course, just create one and list how many Pomodoros you estimate you need to study to the end. And then start your sessions.
</p>