<div class="center"> 	  
    <h1>Don't lose track of your Pomodoro sessions again.</h1>

    <h2>
      Get productive by owing your Pomodoros.
    </h2>

    <%= link_to "Start working productively", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>