<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, :input_html => {:style=> 'width: 200px'} %>
  <%= f.input :password, :input_html => {:style=> 'width: 200px'}, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, :input_html => {:style=> 'width: 200px'}, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password, :input_html => {:style=> 'width: 200px'} %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-default' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => 'btn btn-default', data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back, class: 'btn btn-link' %>
