<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, :input_html => {:style=> 'width: 200px'} %>
  <%= f.input :password, :input_html => {:style=> 'width: 200px'} %>
  <%= f.input :password_confirmation, :input_html => {:style=> 'width: 200px'} %>

  <div class="form-actions">
    <%= f.submit "Sign up", :class => 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
