<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal' }) do |f| %>

  <%= f.input :email, :input_html => {:style=> 'width: 200px'} %>
  <%= f.input :password, :input_html => {:style=> 'width: 200px'} %>
  <%= f.input :remember_me, as: :boolean %>

  <div class="form-actions">
    <%= f.submit "Log in", :class => 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
