<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
	<strong>For this week, how many hours will you need for studying (estimate would do)?</strong>
    <%= f.number_field :hour %> 
  </div>
  <div class="actions">
  	<%= f.submit 'Done', :class => 'btn btn-default' %>
  </div>
<% end %>
