<input type="text" id="timer">
<script type="text/javascript">

window.setCorrectingInterval = (function(func, delay) {
  var instance = { };

  function s_tick(func, delay) {
    if (!instance.started) {
      instance.func = func;
      instance.delay = delay;
      instance.startTime = new Date().valueOf();
      instance.target = delay;
      instance.started = true;

      setTimeout(s_tick, delay);
    } else {
      var elapsed = new Date().valueOf() - instance.startTime,
        adjust = instance.target - elapsed;

      instance.func();
      instance.target += instance.delay;

      setTimeout(s_tick, instance.delay + adjust);
    }
  };

  return s_tick(func, delay);
});
var refreshCount = JSON.parse(localStorage.getItem('refreshCount')) || 1;
var refreshPomo = document.getElementById("refreshPomo");
var ticker;
var time, seconds;
var message = document.getElementById("message");
refreshPomo.innerHTML = "Current Pomodoro Session #" + refreshCount;
var idURL = '<%= @course.id %>';
$('html').attr("data-no-turbolink", "true");
function startTimer()
{
	toReset();
	myStopFunction();
	ticker = setInterval("tick()",1000);
}

function tick()
{
	if(seconds > 0 || minutes > 0)
	{
		if(seconds == 0)
		{
			minutes = minutes - 1;
			seconds = 59;
		} else {
			seconds = seconds - 1;
		}
	}
	if(seconds < 10) seconds = "0" + seconds;
	$("#timer").val(minutes + ":" + seconds);
	
	if(starting_seconds - seconds == 0 && starting_minutes - minutes == 2) {
		document.title = "Pomodebtor Break Time!";
		refreshPomo.innerHTML = "You've just paid off your Pomodoro. Please wait until your balance gets updated.";
		
	 $.ajax({
		 url: "/courses/" + idURL + "/update_pomodoro_count", 
	 	 type: "PATCH"
 	 });
	}
	else if(seconds <=0 && minutes <= 0) {
		 myStopFunction();
		 $.ajax({
		 	 url: "/courses/" + idURL,
			 type: "GET",
			 success: function(results) {
				 refreshCount++;
				 localStorage.setItem('refreshCount', refreshCount);
				 window.location.reload();
			 }
		 });
		 
	}
	
	else {
		window.onbeforeunload = function() {
		}
	}
	
}

function myStopFunction()
{
	localStorage.clear();
	clearInterval(ticker);
}

toReset = function()
{
	if ((refreshCount) % 4 == 0) {
		seconds = 0;
		starting_seconds = 0;
		minutes = 4;
		starting_minutes = 4;
	}
	else {
		seconds = 0;
		starting_seconds = 0;
		minutes = 3;
		starting_minutes = 3;
	}
	if(seconds < 10) seconds = "0" + seconds;
	$("#timer").val(minutes + ":" + seconds);
}

window.onload = startTimer();

window.onbeforeunload = function() {
  localStorage.clear();
  clearInterval(ticker);
  return;
};
</script>

<div id="timeExpired"></div>
<div id="countDown"></div>

<h2></h2>
<html onbeforeunload="localStorage.clear()">