<h1>Here are your courses</h1>
<h2></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name of Course</th>
      <th>Sessions Paid this week</th>
      <th>Remaining Debt to Owe</th>
	  <th>Hours set for current week</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= Keen.count("pomsCount", :timeframe => "this_week", :filters => [{
	  "property_name" => "user_id",
	  "operator" => "eq",
	  "property_value" => course.user_id
  }, {
	  "property_name" => "course_name",
	  "operator" => "eq",
	  "property_value" => course.name
  }]) %></td>
        <td><%= course.sessions_to_owe %></td>
		<td>
			<% if course.sessions_to_owe == 0 %>
				<%= course.hour %> (Done!)
			<% else %>
				<%= course.hour %>
			<% end %>
		</td>
        <td><%= link_to 'Start Studying', course, class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit Course', edit_course_path(course), class: 'btn btn-link' %></td>
        <td><%= link_to 'Delete', course, method: :delete, class: 'btn btn-link', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Course', new_course_path, class: "btn btn-link" %>
