<p id="refreshPomo"></p>

<h2><%= @course.name %></h2>
<p id="message"></p>
<div id="refresh">
<%= react_component('ShowPomodori', {paid: Keen.count("pomsCount", :timeframe => "this_week", :filters => [{
	  "property_name" => "user_id",
	  "operator" => "eq",
	  "property_value" => @course.user_id
  }, {
	  "property_name" => "course_name",
	  "operator" => "eq",
	  "property_value" => @course.name
  }]), owe: @course.sessions_to_owe}) %>
</div>

<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-link' %> |
<%= link_to 'Back', courses_path, class: 'btn btn-link' %>

<h1></h1>

<%= render 'timer'%>

<h1></h1>
<div id="my_chart"></div>

<script type="text/javascript">
var client = new Keen({
  projectId: "<%= ENV['KEEN_PROJECT_ID'] %>",
  readKey: "<%= current_user.init_scoped_key %>"
  
});
Keen.ready(function(){
  var query = new Keen.Query("count", {
    eventCollection: "pomsCount",
    groupBy: "course_name",
	interval: "daily",
  	timeframe: "this_7_days",
    filters: [{"property_name":"user_id","operator":"eq","property_value":"<%= @course.user_id %>"}]
  });
  client.draw(query, document.getElementById("my_chart"), {
	  title: "Your Completed Pomodoros for Current Courses",
	  chartType: "columnchart"
  });
});
</script>