<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Welcome. Ready to start owing your Pomodoros?</span>
	  <span>Begin your free trial today for 5 days</span>
	  <span>Amount: $5.00/month after trial ends.</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription(free trial for 5 days)"
          data-amount="500"></script>
<% end %>