<footer class="footer">
  <small>
    Pomodebtor
  </small>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  
    </ul>
  </nav>
</footer>