<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to "pomodebtor", root_path, id: "logo" %>
    <nav>
	  <ul class="nav nav-pills pull-right">	  
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        
        
        <% if user_signed_in? %>
		  <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>